<div class="col-xs-12 text-center">
    <div class="what-we-do-bottom-arrow"><span class="caret"></span></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 open-chain-access-outer">
            <div class="col-xs-12 col-sm-12 col-md-6 open-chain-access-con">
                <div class="col-xs-9 pad-none">
                    <h4>Open Chain Access<br> Protocol
                    </h4>
                </div>
                <div class="col-xs-3 pad-none"><img src="images/platform-advantages-img-one.png" alt="" /></div>
                <div class="col-xs-12 pad-none">
                    <p>An open source protocol that provides an abstract layer for accessing underlying blockchains. Similar to an ODBC or JDBC interface to a set of databases, our Open Chain Access Protocol enables your application to work on different
                        blockchains. There’s no need to alter your business logic or work with multiple chain technologies.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 open-chain-access-con">
                <div class="col-xs-9 pad-none">
                    <h4>Blocklet</h4>
                </div>
                <div class="col-xs-3 pad-none"><img src="images/platform-advantages-img-two.png" alt="" /></div>
                <div class="col-xs-12 pad-none">
                    <p>A serverless computing architecture for running various types of applications. Use Blocklet for smart contracts, oracle, resource and asset handling, and even off-chain business logic. Blocklet communicates with blockchains through
                        ArcBlock’s Open Chain Access Protocol, and can be orchestrated with our Algorand-based consensus algorithm.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 open-chain-access-inner">
            <div class="col-xs-12 col-sm-12 col-md-6 open-chain-access-con">
                <div class="col-xs-9 pad-none">
                    <h4>Blocklet Building Blocks</h4>
                </div>
                <div class="col-xs-3 pad-none"><img src="images/platform-advantages-img-three.png" alt="" /></div>
                <div class="col-xs-12 pad-none">
                    <p>Incorporate our pre-built blockchain app components to get up and running fast. We provide building blocks for user identity management, utility tokens, wallets, and more. Use them out-of-the-box, or as customizable starting points
                        for your own creations.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 open-chain-access-con">
                <div class="col-xs-9 pad-none">
                    <h4>Decentralized Pub/Sub <br> Gateway
                    </h4>
                </div>
                <div class="col-xs-3 pad-none"><img src="images/platform-advantages-img-four.png" alt="" /></div>
                <div class="col-xs-12 pad-none">
                    <p>A distributed messaging system that supports pub/sub and acts as an API gateway for Blocklets. ArcBlock's gateway uses a decentralized design and secure communication channels. Your applications will run in both web browsers and mobile
                        apps, giving users reactive, real-time experiences.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 open-chain-access-inner">
            <div class="col-xs-12 col-sm-12 col-md-6 open-chain-access-con">
                <div class="col-xs-9 pad-none">
                    <h4>Token Economy Service</h4>
                </div>
                <div class="col-xs-3 pad-none"><img src="images/platform-advantages-img-five.png" alt="" /></div>
                <div class="col-xs-12 pad-none">
                    <p>A fully customizable token economy manager for apps built on the ArcBlock platform. Applications can even build unique utility tokens that inherit all ArcBlock features.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 open-chain-access-button text-center"> <a href="javascript:;" class="technical-white-paper btn-1">Technical White Paper</a> <a href="javascript:;" class="project-white-paper btn-1">Project White Paper</a> </div>
    </div>
</div>