<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="amount-raised-con"> <strong>Amount raised so far:</strong>
                <div class="amount-raised-inner col-xs-12"> 84,146 ETH <span>(equivalent value)</span> </div>
                <samp>Spreads out one base charge</samp> </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 banner-right-con"> <strong>the Decentralization</strong>
            <h1>Token Sale <br> has already<br> concluded
            </h1>
            <samp>MultiChain organizations</samp>
            <div class="banner-right-buttons"> <a class="btn-1" href="javascript:;">Start Exploring</a> <a href="javascript:;"><span class="glyphicon glyphicon-play"></span> watch our video</a> </div>
        </div>
        <div class="col-xs-12 banner-bottom-con">
            <div class="col-xs-12 col-sm-4 col-md-4 platform-advantages-outer-con">
                <div class="platform-advantages-con"> <img src="images/platform-advantages-img-one.png" alt="" /> <strong>Why do we use it?</strong>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</p>
                    <a href="javascript:;"><span class="glyphicon glyphicon-arrow-right"></span> more info</a> </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 platform-advantages-outer-con">
                <div class="platform-advantages-con"> <img src="images/platform-advantages-img-two.png" alt="" /> <strong>Can I get some?</strong>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                    <a href="javascript:;"><span class="glyphicon glyphicon-arrow-right"></span> more info</a> </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 platform-advantages-outer-con">
                <div class="platform-advantages-con"> <img src="images/platform-advantages-img-three.png" alt="" /> <strong>Lorem Ipsum?</strong>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <a href="javascript:;"><span class="glyphicon glyphicon-arrow-right"></span> more info</a> </div>
            </div>
        </div>
    </div>
</div>