<div class="container">
    <div class="row">
        <div class="col-xs-12 pad-none">
            <h3>Lorem ipsum testimonials</h3>
            <div class="col-xs-12 pad-none">
                <div id="owl-demo03" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="col-xs-12">
                            <div class=" team-member-list text-center"> <span class="linked-in-con"><a href="javascript:;"><img src="images/linked-in-image.png" alt="linked-in"/></a></span> <img src="images/user-img.png" alt="" /> <strong>Lorem ipsum</strong> <samp>Simply dummy text</samp>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <a href="javascript:;">Read More</a> </div>
                        </div>
                        <div class="col-xs-12">
                            <div class=" team-member-list text-center"> <span class="linked-in-con"><a href="javascript:;"><img src="images/linked-in-image.png" alt="linked-in"/></a></span> <img src="images/user-img.png" alt="" /> <strong>Lorem ipsum</strong> <samp>Simply dummy text</samp>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <a href="javascript:;">Read More</a> </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12">
                            <div class=" team-member-list text-center"> <span class="linked-in-con"><a href="javascript:;"><img src="images/linked-in-image.png" alt="linked-in"/></a></span> <img src="images/user-img.png" alt="" /> <strong>Lorem ipsum</strong> <samp>Simply dummy text</samp>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <a href="javascript:;">Read More</a> </div>
                        </div>
                        <div class="col-xs-12">
                            <div class=" team-member-list text-center"> <span class="linked-in-con"><a href="javascript:;"><img src="images/linked-in-image.png" alt="linked-in"/></a></span> <img src="images/user-img.png" alt="" /> <strong>Lorem ipsum</strong> <samp>Simply dummy text</samp>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <a href="javascript:;">Read More</a> </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-12">
                            <div class=" team-member-list text-center"> <span class="linked-in-con"><a href="javascript:;"><img src="images/linked-in-image.png" alt="linked-in"/></a></span> <img src="images/user-img.png" alt="" /> <strong>Lorem ipsum</strong> <samp>Simply dummy text</samp>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <a href="javascript:;">Read More</a> </div>
                        </div>
                        <div class="col-xs-12">
                            <div class=" team-member-list text-center"> <span class="linked-in-con"><a href="javascript:;"><img src="images/linked-in-image.png" alt="linked-in"/></a></span> <img src="images/user-img.png" alt="" /> <strong>Lorem ipsum</strong> <samp>Simply dummy text</samp>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                <a href="javascript:;">Read More</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>