<footer>
    <div class="sm-icons-outer col-xs-12 text-center">
        <a href="javascript:;"><img src="images/sm-icon-img-1.jpg" alt="" /></a>
        <a href="javascript:;"><img src="images/sm-icon-img-2.jpg" alt="" /></a>
        <a href="javascript:;"><img src="images/sm-icon-img-3.jpg" alt="" /></a>
        <a href="javascript:;"><img src="images/sm-icon-img-4.jpg" alt="" /></a>
        <a href="javascript:;"><img src="images/sm-icon-img-5.jpg" alt="" /></a>
    </div>
    <p>Copyright © 2017. All rights reserved. Privacy & Terms</p>
</footer>